.filters {
	position: absolute;
	bottom: 10px;

	width: 95%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--black400);
}

.filterList {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.filterBtn {
	border: none;

	padding: 5px 10px;

	color: var(--black400);

	cursor: pointer;
}

.filterBtn.active {
	color: rgba(0, 0, 0, 0.6);
	border: 1px solid var(--black400);
}

.clear {
	padding: 5px 10px;

	cursor: pointer;
}
